@import "compass/css3";
	label {
		color: #0C63E7 !important
	}
	p {
	  	color: #999;
	}
	.msg-block {
	  	margin-right: 145px;
	}

	form.ng-minlength {
	    background-color:red;
	}

	code {
	  	color: blue;
	}
	/* The switch - the box around the slider */
	.switch {
	  position: relative;
	  display: inline-block;
	  width: 40px;
	  height: 25px;
	}

	/* Hide default HTML checkbox */
	.switch input {display:none;}

	/* The slider */
	.slider {
	  position: absolute;
	  cursor: pointer;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  background-color: #ccc;
	  -webkit-transition: .4s;
	  transition: .4s;
	}

	.slider:before {
	  position: absolute;
	  content: "";
	  height: 19px;
	  width: 19px;
	  left: 3px;
	  bottom: 3px;
	  background-color: white;
	  -webkit-transition: .4s;
	  transition: .4s;
	}

	input:checked + .slider {
	  background-color: #2196F3;
	}

	input:focus + .slider {
	  box-shadow: 0 0 1px #2196F3;
	}

	input:checked + .slider:before {
	  -webkit-transform: translateX(16px);
	  -ms-transform: translateX(16px);
	  transform: translateX(16px);
	}

	input:text {
		color: black;
	}

	img{
		/*position: absolute;*/
		left: 0px;
		right: 0px;
		z-index: 0;
		background-position: center;
	}

	/* Rounded sliders */
	.slider.round {
	  border-radius: 34px;
	}

	.slider.round:before {
	  border-radius: 50%;
	}